@import '../../styles/variables';

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.headline {
  padding: 1rem;
  text-align: center;
}

.table-wrapper {
  overflow-x: auto;
}

.value {
  display: inline-block;
  max-width: $col-max-width;
  padding: 0 1rem;
}
