@import '../../styles/variables';

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
} 

.table-wrapper {
  overflow-x: auto;
}

.value {
  display: inline-block;
  max-width: $col-max-width;
  padding: 0 1rem;
}
