@import '../../styles/variables';

.layout {
  display: flex;
  margin: .5rem;
}

.sidebar {
  border-left: $default-border;
  flex-shrink: 0;
  width: 18rem;
}

.content {
  display: flex;
  flex-grow: 1;
  min-width: 0;
}
