<mat-form-field appearance="fill" class="fill-width">
  <mat-label>Column name</mat-label>
  <mat-select>
    <mat-option *ngFor="let column of columns" [value]="column">
      {{column}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill" class="fill-width">
  <mat-label>Operator</mat-label>
  <mat-select>
    <mat-option *ngFor="let column of columns" [value]="column">
      {{column}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill" class="fill-width">
  <mat-label>Value</mat-label>
  <input matInput>
</mat-form-field>

<div class="text-center">
  <button mat-fab color="primary" aria-label="Apply Filter button" title="Apply Filter">
    <mat-icon>add</mat-icon>
  </button>
</div>
