@import '../../styles/variables';

$operator-size: 2.5rem;

.filter {
  align-items: center;
  background-color: rgba(0,0,0,.04);
  display: flex;
  margin-bottom: 1rem;
  padding: 0 .5rem;
  position: relative;

  &:hover {
    .close-button {
      display: inline-block;
    }
  }
}

.close-button {
  border-radius: 0;
  display: none;
  height: $operator-size;
  min-width: $operator-size;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: $operator-size;
}

.filter-operator {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: $operator-size;
  text-align: center;
  width: $operator-size;
}

.filter-column,
.filter-value {
  font-size: .75rem;
  width: calc(50% - ($operator-size / 2));
}

.filter-column {
  color: $text-color-secondary;
  text-align: right;
}

.highlight {
  color: $color-primary;
}
